gm813x_build_arm/*
samplewinbuild/*
bin/debug/*
lib/*
/CMakeFiles/cmake.check_cache
/bin

vsbuild
sieditor
video_monvif_build_on_linux
video_sample_build_on_linux
video_test_build_on_linux
video_sample_build_on_arm_linux
video_test_build_on_arm_linux
